@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

#main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

::selection {
    background-color: #e70c0cc5;
    color: #fff;
}

@media screen and (max-width: 700px) {

    #main {
        flex-direction: column;
    }

    #containerLogo {
        height: 20%;
        width: 100%;
    }

    #logoAsp {
        height: 60px;
        width: 180px;
        margin-bottom: 0;
    }

    #slogan {
        display: none;
    }

    #containerTemplate {
        width: 100%;
        background-color: #e70c0cc5;
    }

}