@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    height: 100vh;
    width: 100%;
}

#cardGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.card {
    width: 200px;
    padding: 20px;
    margin: 10px 16px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 8px 0 #cac4c4;
    border: none;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.card:hover {
    transform: translateY(-6px);
    background-color: #e70c0cc5;
    color: #fff;
}

.iconCard{
    display: flex;
    justify-content: center;
    width: 100%;
}

.icon {
    height: 60px;
}

.titleCard {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    margin-top: 16px;
    font-size: 30px;
}

@media screen and (max-width: 900px) {
    .card {
        width: 160px;
    }

    .icon {
        height: 48px;
    } 

    .titleCard {
        margin-top: 12px;
        font-size: 22px;
    }

}